01-benchmark_surfaces/
01-benchmark_surfaces_npy/
01-benchmark_pdbs_npy/
01-benchmark_pdbs/
01-benchmark_pdbs/
shape_index/
masif_preds/
models/
runs/
venv/
preds/
*.log
NeurIPS_2020_benchmarks/
*.out
figures/
timings/
data_analysis/roc_curves
data_analysis/.ipynb_checkpoints/
.ipynb_checkpoints/